// Colors
@white: #fff;
@light-grey: #eee;
@grey: #aaa;
@text-color: #111;
@light-blue: #9fc8e3;
@blue: #7fa0b5;

// Sizes
@page-width: 1000px;
@menu-height: 40px;
@footer-height: 176px;

*
{
  margin: 0;

  color: @text-color;
}

html,
body
{
  height: 100%;

  margin: 0;
  padding: 0;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.grey-bar
{
  position: absolute;

  height: @menu-height;
  width: 100%;

  background: @light-grey;

  border-bottom: 2px solid @blue;
}

.wrapper
{
  min-height: 100%;
  height: auto !important;
  height: 100%;

  width: 1000px;

  margin: 0 auto -@footer-height;

  background: @white;

  nav
  {
    width: @page-width;

    margin: 0 auto 2px;
    padding: 0;

    height: @menu-height;

    a
    {
      line-height: @menu-height;

      text-decoration: none;

      display: block;
    }

    ul
    {
      margin: 0;
      padding: 0;

      list-style: none;

      li
      {
        padding: 0 10px;

        float: left;

        position: relative;

        background: @light-grey;

        ul
        {
          width: auto;

          margin-left: -10px;

          display: none;

          position: absolute;

          z-index: 1000;

          li
          {
            float: none;
          }

          a
          {
            white-space: nowrap;
          }
        }

        &:hover
        {
          background: @blue;

          ul
          {
            display: block;
          }

          & > a
          {
            color: @light-grey;
          }
        }
      }
    }
  }

  .content
  {
    padding: 10px;

    form
    {
      p
      {
        label
        {
          display: inline-block;
          width: 250px;
          height: 20px;
        }

        input
        {
          display: inline-block;
          width: 300px;
          height: 20px;
        }
      }
    }
  }

  .push
  {
    height: @footer-height;
  }
}

.footer
{
  height: @footer-height - 2;
  line-height: @footer-height - 2;

  background: @light-grey;

  border-top: 2px solid @blue;

  .inner-footer
  {
    width: @page-width;

    margin: 0 auto;

    .flickr-image-slider
    {
      width: 150px;
      height: 150px;

      margin: 10px auto;

      position: relative;

      overflow: hidden;

      border: 2px solid @blue;

      .flickr-image-slide
      {
        width: 150px;
        height: 150px;

        position: absolute;
      }
    }
  }
}

.clear
{
  clear: both;
}