* {
  margin: 0;
  color: #111111;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.grey-bar {
  position: absolute;
  height: 40px;
  width: 100%;
  background: #eeeeee;
  border-bottom: 2px solid #7fa0b5;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 1000px;
  margin: 0 auto -176px;
  background: #ffffff;
}
.wrapper nav {
  width: 1000px;
  margin: 0 auto 2px;
  padding: 0;
  height: 40px;
}
.wrapper nav a {
  line-height: 40px;
  text-decoration: none;
  display: block;
}
.wrapper nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.wrapper nav ul li {
  padding: 0 10px;
  float: left;
  position: relative;
  background: #eeeeee;
}
.wrapper nav ul li ul {
  width: auto;
  margin-left: -10px;
  display: none;
  position: absolute;
  z-index: 1000;
}
.wrapper nav ul li ul li {
  float: none;
}
.wrapper nav ul li ul a {
  white-space: nowrap;
}
.wrapper nav ul li:hover {
  background: #7fa0b5;
}
.wrapper nav ul li:hover ul {
  display: block;
}
.wrapper nav ul li:hover > a {
  color: #eeeeee;
}
.wrapper .content {
  padding: 10px;
}
.wrapper .content form p label {
  display: inline-block;
  width: 250px;
  height: 20px;
}
.wrapper .content form p input {
  display: inline-block;
  width: 300px;
  height: 20px;
}
.wrapper .push {
  height: 176px;
}
.footer {
  height: 174px;
  background: #eeeeee;
  border-top: 2px solid #7fa0b5;
}
.footer .inner-footer {
  width: 1000px;
  margin: 0 auto;
}
.footer .inner-footer .flickr-image-slider {
  width: 150px;
  height: 150px;
  float: left;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
  border: 2px solid #7fa0b5;
}
.footer .inner-footer .flickr-image-slider .flickr-image-slide {
  width: 150px;
  height: 150px;
  position: absolute;
}
.footer .inner-footer .flickr-image-description-container {
  height: 154px;
  width: 154px;
  float: left;
  position: relative;
  margin: 10px 0;
  background: #7fa0b5;
}
.footer .inner-footer .flickr-image-description-container .flickr-image-title {
  font-weight: bold;
}
.footer .inner-footer .flickr-image-description-container .flickr-image-date {
  position: absolute;
  bottom: 0;
}
.footer .inner-footer .flickr-image-description-container .flickr-image-title,
.footer .inner-footer .flickr-image-description-container .flickr-image-date {
  margin: 5px;
  text-align: center;
  color: #ffffff;
}
.clear {
  clear: both;
}
