* {
  color: #111111;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.grey-bar {
  position: absolute;
  height: 40px;
  width: 100%;
  background: #eeeeee;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
}
.wrapper nav {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  height: 40px;
}
.wrapper nav a {
  line-height: 40px;
  text-decoration: none;
  display: block;
}
.wrapper nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.wrapper nav ul li {
  padding: 0 10px;
  float: left;
  position: relative;
  background: #eeeeee;
}
.wrapper nav ul li ul {
  width: auto;
  margin-left: -10px;
  display: none;
  position: absolute;
}
.wrapper nav ul li ul li {
  float: none;
}
.wrapper nav ul li ul a {
  white-space: nowrap;
}
.wrapper nav ul li:hover {
  background: #aaaaaa;
}
.wrapper nav ul li:hover ul {
  display: block;
}
.wrapper form p label {
  display: inline-block;
  width: 250px;
  height: 20px;
}
.wrapper form p input {
  display: inline-block;
  width: 300px;
  height: 20px;
}
.clear {
  clear: both;
}
