{% extends "master.html" %}

{% block scripts %}
    {% load staticfiles %}

    <script type="text/javascript" src="{% static "js/raphael/raphael.min.js" %}"></script>
    <script type="text/javascript" src="{% static "measurements/js/min/compare_chart.min.js" %}"></script>
    <script type="text/javascript">
        var times = {% autoescape off %}{{ times }}{% endautoescape %};
    </script>
{% endblock %}

{% block content %}
    <table>
        <tr>
            <td><label for="comparison-method">Comparison method</label></td>
            <td>
                <select id="comparison-method" class="comparison-method">
                    <option value="type">Type</option>
                    <option value="category">Category</option>
                </select>
            </td>
        </tr>

        <tr>
            <td><label for="device-model">Model</label></td>
            <td>
                <select id="device-model" class="device-model">
                    {% for model in models %}
                        <option value="{{ model.model }}">{{ model.model }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>

        <tr>
            <td><label for="device-category">Category</label></td>
            <td>
                <select id="device-category" class="device-category">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.category }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>

        <tr>
            <td><label for="zipcode">Zipcode</label></td>
            <td><input type="text" id="zipcode" class="zipcode" /></td>
        </tr>
    </table>

    <div class="loading-icon"></div>
    <div id="compare-chart"></div>
{% endblock %}