{% extends "master.html" %}

{% block content %}

    <table>

        <tr>
            <td class="blue-background" colspan="2">Device</td>

            {% for time in times %}
                <td class="blue-background">{{ time.time }}</td>
            {%  endfor %}
        </tr>

        {% for device, measurements in measurements_by_device.items %}

            <tr>
                <td class="blue-background" rowspan="2">{{ device.brand }} {{ device.model }}</td>
                <td class="blue-background">i (kW)</td>

                {% for measurement in measurements.measurements %}
                    <td>{{ measurement.value|floatformat:2 }}</td>
                {% endfor %}
            </tr>

            <tr>
                <td class="blue-background">&Sigma; i (kW)</td>

                {% for total in measurements.totals %}
                    <td>{{ total|floatformat:2 }}</td>
                {% endfor %}
            </tr>

        {% endfor %}

    </table>

{% endblock %}